parameters:
    level: 5
    
    paths:
        - %currentWorkingDirectory%/src
        - %currentWorkingDirectory%/test

    excludePaths:
        analyse:
            - %currentWorkingDirectory%/vendor
