parameters:
    level: 5
    
    paths:
        - %currentWorkingDirectory%/src
        - %currentWorkingDirectory%/test

    excludePaths:
        analyse:
            - %currentWorkingDirectory%/vendor

    ignoreErrors:
        -
            message: '#^Used function Laravel\\Prompts\\(menu|select|note|spinner|error|confirm|text) not found\.$#'
        -
            message: '#^Function Laravel\\Prompts\\(menu|select|note|spinner|error|confirm|text) not found\.$#'
